*.zip
/EDDC
/EDFH
/EDTF
/KOAK
/KSFO
/LFPO
/LFSB
/EDDF
/EDDS
/LFSB.old
/LFSB.orig
/atcComments.bak
/atcComments.xml
/EDDF.properties
/EDDS.properties
/KOAK.properties
/LFSB.properties
/user.properties
/user.properties~
/EDDK
/LFST
/KLAX
/TNCM
/EDDM
/EHAM
/AptNav.zip.old
/earth_nav.dat
