/atcComments.bak
/atcComments.xml
/EDDF.properties
/EDDK.properties
/EDDS.properties
/EDFH.properties
/EDTF.properties
/KOAK.properties
/LFSB.properties
/LFST.properties
/user.properties
/user.properties~
/KLAX.properties
/EDDM.properties
/KOAK.properties~
/EDDL.properties
/EHAM.properties
/LKLN.properties
/LFPO.properties
/LSZH.properties
/KBOS.properties
/KSFO.properties
/LFMT.properties
/LFPG.properties
/LIMC.properties
/LIML.properties
/LIPX.properties
/SKBO.properties
/TNCM.properties
/EDDR.properties
/EGLC.properties
/EHTE.properties
/EIDW.properties
/FPST.properties
/atcComments (Kopie).xml
/atcComments.old
/contactData.xml
/layout.xml
