/atcComments.bak
/atcComments.xml
/EDDF.properties
/EDDK.properties
/EDDS.properties
/EDFH.properties
/EDTF.properties
/KOAK.properties
/LFSB.properties
/LFST.properties
/user.properties
/user.properties~
/KLAX.properties
/EDDM.properties
/KOAK.properties~
/EDDL.properties
/EHAM.properties
/LKLN.properties
/LFPO.properties
/LSZH.properties
